@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: #656565;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



/* HEADER */


header {
    height: 60px;
    background-color: #222222;
    color: #ccc;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 26px;
}

header ul {
    list-style-type: none;
    display: flex;
}

header nav a {
    display: block;
    color: #ccc;
    padding: 10px 15px;
}

header nav a:hover {
    color: #fff;
}

header #menu-toggle {
    display: none;
    padding: 5px 10px;
    background: transparent;
    color: #ccc;
    font-size: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    header #menu-toggle {
        display: block;
    }

    header nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100vw;
        height: fit-content;
        padding: 20px;
        background: #222222;
    }

    header ul {
        flex-direction: column;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    height: 150px;
    background-color: #222222;
    color: #656565;
}

footer .container {
    flex: 0 0 auto;

    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* index */

